@model CarWorkshopDto

<h1>Create Car Workshop</h1>

<div class="row">
	<div class="col-md-4">
		<form asp-action="Create" asp-controller="CarWorkshop" method="post">
			<div class="form-group mb-3">
				<label class="contorl-label" asp-for="Name">Name</label>
				<input class="form-control" type="text" asp-for="Name" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>

			<div class="form-group mb-3">
				<label class="contorl-label" asp-for="Description">Description</label>
				<input class="form-control" type="text" asp-for="Description" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>

			<div class="form-group mb-3">
				<label class="contorl-label" asp-for="About">About</label>
				<input class="form-control" type="text" asp-for="About" />
				<span asp-validation-for="About" class="text-danger"></span>
			</div>

			<div class="form-group mb-3">
				<label class="contorl-label" asp-for="PhoneNumber">PhoneNumber</label>
				<input class="form-control" type="text" asp-for="PhoneNumber" />
				<span asp-validation-for="PhoneNumber" class="text-danger"></span>
			</div>

			<div class="form-group mb-3">
				<label class="contorl-label" asp-for="Street">Street</label>
				<input class="form-control" type="text" asp-for="Street" />
				<span asp-validation-for="Street" class="text-danger"></span>
			</div>

			<div class="form-group mb-3">
				<label class="contorl-label" asp-for="City">City</label>
				<input class="form-control" type="text" asp-for="City" />
				<span asp-validation-for="City" class="text-danger"></span>
			</div>

			<div class="form-group mb-3">
				<label class="contorl-label" asp-for="PostalCode">PostalCode</label>
				<input class="form-control" type="text" asp-for="PostalCode" />
				<span asp-validation-for="PostalCode" class="text-danger"></span>
			</div>

			<div class="form-group mb-3">
				<button type="submit" class="btn btn-primary">Create</button>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}